:root {
  --yellow: #fef606;
  --brown: #1d1d00;
}

* {
  box-sizing: border-box;
}

body {
  background: radial-gradient(var(--yellow), var(--brown));
  font-family: "Montserrat", sans-serif;
  /* without the height, stripes show up on the screen */
  height: 100vh;
  /* to hide the ugly and for now useless scrollbar */
  overflow: hidden;
}

h1 {
  font-weight: 500;
}

p {
  font-weight: 100;
  font-size: 100px;
}

